<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find autonav_description)/urdf/autonav.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model autonav"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <include file="$(find autonav_description)/launch/encoderticks.launch" />
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find autonav_description)/rviz/autonav.rviz"/>
  <include file="$(find autonav_description)/launch/navigation.launch" />
</launch>
