<?xml version="1.0" ?>

<launch>
  <!-- Arguments -->
 
  <arg name="map_file" default="$(find autonav_description)/maps/L412.yaml"/>  
  <arg name="move_forward_only" default="false"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find autonav_description)/launch/amcl.launch"/>

  <!-- move_base -->
  <!-- <include file="$(find autonav_description)/launch/move_base.launch">    
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include> -->

</launch>
